<hr style="margin: 48px 0">
<p>
&copy; <a target="_blank" href="https://gitlab.com/LVRA/lvra.gitlab.io/-/project_members">The <em>Linux VR Adventures</em> community contributors</a> &mdash;
This work is licensed under <a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0 International</a>.
</p>

<p>Made with <a target="_blank" href="https://gohugo.io/">Hugo</a> and the <a target="_blank" href="https://github.com/alex-shpak/hugo-book">Hugo Book Theme</a>.
<br>
<a target="_blank" href="https://gitlab.com/lvra/lvra.gitlab.io">Website source code</a>.</p>
